[submodule "shared/Model-Announcement-Extended"]
	path = shared/Model-Announcement-Extended
	url = https://github.com/mauriora/Model-Announcement-Extended.git
	branch = main
[submodule "app/Announcements-Bar-Extension"]
	path = app/Announcements-Bar-Extension
	url = https://github.com/mauriora/Announcements-Bar-Extension.git
	branch = main
[submodule "app/Announcements-Model-Deployment"]
	path = app/Announcements-Model-Deployment
	url = https://github.com/mauriora/Announcements-Model-Deployment.git
	branch = main
