[submodule "app/Announcements-Bar-Extension"]
	path = app/Announcements-Bar-Extension
	url = https://github.com/mauriora/Announcements-Bar-Extension.git
	branch = main
[submodule "app/Announcements-Lists-Deployment"]
	path = app/Announcements-Lists-Deployment
	url = https://github.com/mauriora/Announcements-Lists-Deployment.git
	branch = main
[submodule "app/Announcements-Model-Deployment"]
	path = app/Announcements-Model-Deployment
	url = https://github.com/mauriora/Announcements-Model-Deployment.git
	branch = main
[submodule "shared/Controller-SharePoint-List"]
	path = shared/Controller-SharePoint-List
	url = https://github.com/mauriora/Controller-SharePoint-List.git
	branch = main
[submodule "shared/Model-Announcement-Extended"]
	path = shared/Model-Announcement-Extended
	url = https://github.com/mauriora/Model-Announcement-Extended.git
	branch = main
[submodule "shared/Utils-SPFx-Controls-React"]
	path = shared/Utils-SPFx-Controls-React
	url = https://github.com/mauriora/Utils-SPFx-Controls-React.git
	branch = Announcements-Bar
[submodule "shared/Package-Tools"]
	path = shared/Package-Tools
	url = https://github.com/mauriora/Package-Tools.git
	branch = main
[submodule "shared/Spfx-Packaging"]
	path = shared/Spfx-Packaging
	url = https://github.com/mauriora/Spfx-Packaging.git
	branch = main
[submodule "shared/workspace-tools"]
	path = shared/workspace-tools
	url = https://github.com/mauriora/workspace-tools.git
	branch = main
[submodule "shared/lerna"]
	path = shared/lerna
	url = https://github.com/mauriora/lerna.git
	branch = git-modules
